<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         cacheDirectory="var/phpunit"
>
    <php>
        <!-- The functional tests boot the dev harness (it holds the Pimcore product registration) -->
        <server name="APP_ENV" value="dev" force="true"/>
        <server name="KERNEL_CLASS" value="CORS\Bundle\DocumentAuthBundle\Tests\Functional\FunctionalKernel" force="true"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
